---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

As you can tell, I love teaching! And for that, **I offer private tutoring** about all university **Calculus** (differential, integral, vector, multivariable, etc), **Algebra** (elementary, linear, abstract/modern, etc.) and **Physics** (classical mechanics, modern physics, electromagnetism, thermodynamics), as well as other **Mathematics** courses (optimization, probabilities, statistics, etc.) and **Electrical Engineering** courses (circuit design and analysis, dynamical systems analysis, energy conversion & control theory). I also have experience tutoring for **pre-university courses** such as high school Math (geometry, algebra, probabilities and statistics), Physics and Chemistry, primarly focused on University Admission Exams :) (proud to say all my students high score on their exams and were abel to study the careers they wanted!) 

If you want further information, please let me know at `hola.bianca.zamora.araya@gmail.com` :)

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
